In [31]:
import pandas as pd

In [32]:
liste_Day = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
print(liste_Day)

['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']

In [33]:
liste_matiere = ["SQL", "Python", "R", "Algebre lineaire", "Statestique", "Propabilite"]
print(liste_matiere)

['SQL', 'Python', 'R', 'Algebre lineaire', 'Statestique', 'Propabilite']

In [34]:
liste_etudiant = ["Mario", "Luigi", "Kango", "Bowser"]
print(liste_etudiant)

['Mario', 'Luigi', 'Kango', 'Bowser']

In [35]:
liste_horaire = []
for i in range(8, 18, 1) :
    liste_horaire.append((i, i+1))
print(liste_horaire)

[(8, 9), (9, 10), (10, 11), (11, 12), (12, 13), (13, 14), (14, 15), (15, 16), (16, 17), (17, 18)]

In [36]:
affectation_cours = []

In [37]:
semaine_day = {}
horaire_day = {}
dict_etudiant = {}

In [38]:
for i, j in enumerate(liste_horaire) :
    horaire_day[i+1] = j
for i, j in enumerate(liste_Day) :
    semaine_day[i+1] = (j, horaire_day)

In [39]:
print(horaire_day)

{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}

In [40]:
print(semaine_day)

{1: ('Lundi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 2: ('Mardi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 3: ('Mercredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 4: ('Jeudi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 5: ('Vendredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 6: ('Samedi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 7: ('Dimanche', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)})}

In [41]:
for i in liste_etudiant :
    dict_etudiant[i] = semaine_day

In [42]:
print(dict_etudiant)

{'Mario': {1: ('Lundi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 2: ('Mardi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 3: ('Mercredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 4: ('Jeudi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 5: ('Vendredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 6: ('Samedi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 7: ('Dimanche', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)})}, 'Luigi': {1: ('Lundi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 2: ('Mardi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 3: ('Mercredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 4: ('Jeudi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 5: ('Vendredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 6: ('Samedi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 7: ('Dimanche', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)})}, 'Kango': {1: ('Lundi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 2: ('Mardi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 3: ('Mercredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 4: ('Jeudi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 5: ('Vendredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 6: ('Samedi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 7: ('Dimanche', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)})}, 'Bowser': {1: ('Lundi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 2: ('Mardi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 3: ('Mercredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 4: ('Jeudi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 5: ('Vendredi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 6: ('Samedi', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}), 7: ('Dimanche', {1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)})}}

In [43]:
for i, j in dict_etudiant.items() :
    print(i)
    for k, l in j.items():
        print(k)
        for m in l :
            print(m)

Mario
1
Lundi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
2
Mardi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
3
Mercredi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
4
Jeudi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
5
Vendredi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
6
Samedi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
7
Dimanche
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
Luigi
1
Lundi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
2
Mardi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
3
Mercredi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
4
Jeudi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
5
Vendredi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
6
Samedi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
7
Dimanche
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
Kango
1
Lundi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
2
Mardi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
3
Mercredi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
4
Jeudi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
5
Vendredi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
6
Samedi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
7
Dimanche
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
Bowser
1
Lundi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
2
Mardi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
3
Mercredi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
4
Jeudi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
5
Vendredi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
6
Samedi
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}
7
Dimanche
{1: (8, 9), 2: (9, 10), 3: (10, 11), 4: (11, 12), 5: (12, 13), 6: (13, 14), 7: (14, 15), 8: (15, 16), 9: (16, 17), 10: (17, 18)}

In [44]:
print(affectation_cours)

[]

In [45]:
def ajout_cours(etudiant, day1, h1, cours1):
    
    if [etudiant, day1, h1, cours1] in affectation_cours :
        print("Erreur : cet cour est deja affecter a cet etudiant a a cet jour")
    else :
        affectation_cours.append([etudiant, day1, h1, cours1])
        print("Cours affecter avec succeé : ", [etudiant, day1, h1, cours1])

In [46]:
ajout_cours("Mario", "Lundi", (8, 9), "SQL")

Cours affecter avec succeé :  ['Mario', 'Lundi', (8, 9), 'SQL']

In [47]:
def suprimer_cours(etudiant, day1, h1, cours1):
    if [etudiant, day1, h1, cours1] not in affectation_cours :
        print("Erreur : cet cour n'est jamais affecter a cet etudiant a a cet jour")
    else :
        affectation_cours.remove([etudiant, day1, h1, cours1])
        print("Cours suprimer avec succeé : ", [etudiant, day1, h1, cours1])

In [48]:
suprimer_cours("Mario", "Lundi", (8, 9), "SQL")

Cours suprimer avec succeé :  ['Mario', 'Lundi', (8, 9), 'SQL']

In [56]:
def affichage_tableau() :
    for i, j in dict_etudiant.items() :
        #print(i)
        for k,l in j.items():
            #print("   ",l[0])
            for n, o in l[1].items() :
                #print("        ",o)
                for p in affectation_cours :
                    if p[0] == i and p[1] == l[0] and p[2] == o :
                        #print("        ",p[3])
                        dict_aff = {'Etudiant' : [i], 'Day': [l[0]], 'Heure' : [o], 'Cours' : [p[3]]}
                        df = pd.DataFrame(dict_aff, index = ['-'])
                        display(df)

In [57]:
affichage_tableau()

  Etudiant    Day   Heure Cours
-    Mario  Lundi  (8, 9)   SQL

In [58]:
#programe principale :
while True :
  print("Bien venue a mon programe de tableau de matiere etudiants")
  chois_etulisateur = " "
  while chois_etulisateur.upper() not in ("C", "A", "S") :
      chois_etulisateur = input(" Si vous voulez afficher table de matiere etudiants taper : 'C' \n Si voulez vous ajouter un cours a un etudiant taper : 'A' \n Si voulez vous suprimer un cours pour un etudiant taper : 'S' \n")
  print(f"chois correcte : {chois_etulisateur}")

  if chois_etulisateur.upper() == "C" :
      affichage_tableau()
  elif chois_etulisateur.upper() in ("A", "S") :
      nom_etudiant = " "
      while nom_etudiant not in liste_etudiant :
          nom_etudiant = input(f"Shoisire soigneussement le nom etudiant de liste d'etudiant suivant : \n {liste_etudiant} : \n")
      print(f"Nom etudiant choisis est : {nom_etudiant}")
      nom_day = " "
      while nom_day not in liste_Day :
          nom_day = input(f"Shoisir soigneusement un jour pour etudier de liste suivante : \n {liste_Day} : \n")
      print(f"Jour d'etude choisis est : {nom_day}")
      mon_heure = " "
      while mon_heure not in liste_horaire :
          mon_heure = input(f"choisire soingeusement une heure de cours de liste suivante : \n {liste_horaire} : \n")
          test_str = mon_heure
          res = tuple(map(int, (test_str[1: len(test_str)-1]).split(', ')))
          mon_heure = res
      print(f"heur de cours choisis est : {mon_heure}")
      nom_cours = " "
      while nom_cours not in liste_matiere :
          nom_cours = input(f"Shoisir soigneusement une matiere de cours suivants : \n {liste_matiere} : \n")
      print(f"Matiere de cours choisis est : {nom_cours}")
      if chois_etulisateur.upper() == "A" :
          ajout_cours(nom_etudiant, nom_day, mon_heure, nom_cours)
      elif chois_etulisateur.upper() == "S" :
          suprimer_cours(nom_etudiant, nom_day, mon_heure, nom_cours)
  chois_exit = " "
  while chois_exit.upper() not in ("Y", "N") :
    chois_exit = input("Si voulez vous continuer taper : 'Y' \n Si voulez vous Quiter taper : 'N' : \n")
  if chois_exit.upper() == 'N' :
    print("Exit System avec succée")
    break

Bien venue a mon programe de tableau de matiere etudiants

 Si vous voulez afficher table de matiere etudiants taper : 'C'
 Si voulez vous ajouter un cours a un etudiant taper : 'A'
 Si voulez vous suprimer un cours pour un etudiant taper : 'S'
 a

chois correcte : a

Shoisire soigneussement le nom etudiant de liste d'etudiant suivant :
 ['Mario', 'Luigi', 'Kango', 'Bowser'] :
 Mario

Nom etudiant choisis est : Mario

Shoisir soigneusement un jour pour etudier de liste suivante :
 ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] :
 Lundi

Jour d'etude choisis est : Lundi

choisire soingeusement une heure de cours de liste suivante :
 [(8, 9), (9, 10), (10, 11), (11, 12), (12, 13), (13, 14), (14, 15), (15, 16), (16, 17), (17, 18)] :
 (9, 10)

heur de cours choisis est : (9, 10)

Shoisir soigneusement une matiere de cours suivants :
 ['SQL', 'Python', 'R', 'Algebre lineaire', 'Statestique', 'Propabilite'] :
 Python

Matiere de cours choisis est : Python
Cours affecter avec succeé :  ['Mario', 'Lundi', (9, 10), 'Python']

Si voulez vous continuer taper : 'Y'
 Si voulez vous Quiter taper : 'N' :
 y

Bien venue a mon programe de tableau de matiere etudiants

 Si vous voulez afficher table de matiere etudiants taper : 'C'
 Si voulez vous ajouter un cours a un etudiant taper : 'A'
 Si voulez vous suprimer un cours pour un etudiant taper : 'S'
 a

chois correcte : a

Shoisire soigneussement le nom etudiant de liste d'etudiant suivant :
 ['Mario', 'Luigi', 'Kango', 'Bowser'] :
 Luigi

Nom etudiant choisis est : Luigi

Shoisir soigneusement un jour pour etudier de liste suivante :
 ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] :
 Jeudi

Jour d'etude choisis est : Jeudi

choisire soingeusement une heure de cours de liste suivante :
 [(8, 9), (9, 10), (10, 11), (11, 12), (12, 13), (13, 14), (14, 15), (15, 16), (16, 17), (17, 18)] :
 (10, 11)

heur de cours choisis est : (10, 11)

Shoisir soigneusement une matiere de cours suivants :
 ['SQL', 'Python', 'R', 'Algebre lineaire', 'Statestique', 'Propabilite'] :
 Algebre lineaire

Matiere de cours choisis est : Algebre lineaire
Cours affecter avec succeé :  ['Luigi', 'Jeudi', (10, 11), 'Algebre lineaire']

Si voulez vous continuer taper : 'Y'
 Si voulez vous Quiter taper : 'N' :
 y

Bien venue a mon programe de tableau de matiere etudiants

 Si vous voulez afficher table de matiere etudiants taper : 'C'
 Si voulez vous ajouter un cours a un etudiant taper : 'A'
 Si voulez vous suprimer un cours pour un etudiant taper : 'S'
 a

chois correcte : a

Shoisire soigneussement le nom etudiant de liste d'etudiant suivant :
 ['Mario', 'Luigi', 'Kango', 'Bowser'] :
 Luigi

Nom etudiant choisis est : Luigi

Shoisir soigneusement un jour pour etudier de liste suivante :
 ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] :
 Jeudi

Jour d'etude choisis est : Jeudi

choisire soingeusement une heure de cours de liste suivante :
 [(8, 9), (9, 10), (10, 11), (11, 12), (12, 13), (13, 14), (14, 15), (15, 16), (16, 17), (17, 18)] :
 (11, 12)

heur de cours choisis est : (11, 12)

Shoisir soigneusement une matiere de cours suivants :
 ['SQL', 'Python', 'R', 'Algebre lineaire', 'Statestique', 'Propabilite'] :
 Algebre lineaire

Matiere de cours choisis est : Algebre lineaire
Cours affecter avec succeé :  ['Luigi', 'Jeudi', (11, 12), 'Algebre lineaire']

Si voulez vous continuer taper : 'Y'
 Si voulez vous Quiter taper : 'N' :
 y

Bien venue a mon programe de tableau de matiere etudiants

 Si vous voulez afficher table de matiere etudiants taper : 'C'
 Si voulez vous ajouter un cours a un etudiant taper : 'A'
 Si voulez vous suprimer un cours pour un etudiant taper : 'S'
 a

chois correcte : a

Shoisire soigneussement le nom etudiant de liste d'etudiant suivant :
 ['Mario', 'Luigi', 'Kango', 'Bowser'] :
 Bowser

Nom etudiant choisis est : Bowser

Shoisir soigneusement un jour pour etudier de liste suivante :
 ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] :
 Mardi

Jour d'etude choisis est : Mardi

choisire soingeusement une heure de cours de liste suivante :
 [(8, 9), (9, 10), (10, 11), (11, 12), (12, 13), (13, 14), (14, 15), (15, 16), (16, 17), (17, 18)] :
 (12, 13)

heur de cours choisis est : (12, 13)

Shoisir soigneusement une matiere de cours suivants :
 ['SQL', 'Python', 'R', 'Algebre lineaire', 'Statestique', 'Propabilite'] :
 R

Matiere de cours choisis est : R
Cours affecter avec succeé :  ['Bowser', 'Mardi', (12, 13), 'R']

Si voulez vous continuer taper : 'Y'
 Si voulez vous Quiter taper : 'N' :
 y

Bien venue a mon programe de tableau de matiere etudiants

 Si vous voulez afficher table de matiere etudiants taper : 'C'
 Si voulez vous ajouter un cours a un etudiant taper : 'A'
 Si voulez vous suprimer un cours pour un etudiant taper : 'S'
 c

chois correcte : c

  Etudiant    Day   Heure Cours
-    Mario  Lundi  (8, 9)   SQL

  Etudiant    Day    Heure   Cours
-    Mario  Lundi  (9, 10)  Python

  Etudiant    Day     Heure             Cours
-    Luigi  Jeudi  (10, 11)  Algebre lineaire

  Etudiant    Day     Heure             Cours
-    Luigi  Jeudi  (11, 12)  Algebre lineaire

  Etudiant    Day     Heure Cours
-   Bowser  Mardi  (12, 13)     R

Si voulez vous continuer taper : 'Y'
 Si voulez vous Quiter taper : 'N' :
 y

Bien venue a mon programe de tableau de matiere etudiants

 Si vous voulez afficher table de matiere etudiants taper : 'C'
 Si voulez vous ajouter un cours a un etudiant taper : 'A'
 Si voulez vous suprimer un cours pour un etudiant taper : 'S'
 s

chois correcte : s

Shoisire soigneussement le nom etudiant de liste d'etudiant suivant :
 ['Mario', 'Luigi', 'Kango', 'Bowser'] :
 Luigi

Nom etudiant choisis est : Luigi

Shoisir soigneusement un jour pour etudier de liste suivante :
 ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] :
 Jeudi

Jour d'etude choisis est : Jeudi

choisire soingeusement une heure de cours de liste suivante :
 [(8, 9), (9, 10), (10, 11), (11, 12), (12, 13), (13, 14), (14, 15), (15, 16), (16, 17), (17, 18)] :
 (11, 12)

heur de cours choisis est : (11, 12)

Shoisir soigneusement une matiere de cours suivants :
 ['SQL', 'Python', 'R', 'Algebre lineaire', 'Statestique', 'Propabilite'] :
 Algebre lineaire

Matiere de cours choisis est : Algebre lineaire
Cours suprimer avec succeé :  ['Luigi', 'Jeudi', (11, 12), 'Algebre lineaire']

Si voulez vous continuer taper : 'Y'
 Si voulez vous Quiter taper : 'N' :
 y

Bien venue a mon programe de tableau de matiere etudiants

 Si vous voulez afficher table de matiere etudiants taper : 'C'
 Si voulez vous ajouter un cours a un etudiant taper : 'A'
 Si voulez vous suprimer un cours pour un etudiant taper : 'S'
 c

chois correcte : c

  Etudiant    Day   Heure Cours
-    Mario  Lundi  (8, 9)   SQL

  Etudiant    Day    Heure   Cours
-    Mario  Lundi  (9, 10)  Python

  Etudiant    Day     Heure             Cours
-    Luigi  Jeudi  (10, 11)  Algebre lineaire

  Etudiant    Day     Heure Cours
-   Bowser  Mardi  (12, 13)     R

Si voulez vous continuer taper : 'Y'
 Si voulez vous Quiter taper : 'N' :
 n

Exit System avec succée

In [22]:
#brillan------------------------------
test_str = "(8, 9)"
res = tuple(map(int, (test_str[1: len(test_str)-1]).split(', ')))
print(res)

(8, 9)

In [23]:
print(type(res))

<class 'tuple'>

In [24]:
print(liste_horaire[::2])

[(8, 9), (10, 11), (12, 13), (14, 15), (16, 17)]