In [ ]:
#chaines de caractere avec python

In [ ]:
chaine1= "Bonjour Mr"
chaine2= "Bonjour Mm"
chaine3 = chaine1 + ' ' + chaine2

In [ ]:
print(chaine1, ' ', chaine2)

Bonjour Mr   Bonjour Mm

In [ ]:
#concatenation 2 chaines
result = "Hello" + " John"

In [ ]:
x=7
# Integer Value
y=12.4
# Float Value
is_valid = True
# Boolean Value
is_valid = False
# Boolean Value
F_Name = "John"
# String Value

In [ ]:
x = 9
y = 4
result_add= x + y # Addition
result_sub= x - y # Subtraction
result_mul= x * y # Multiplication
result_div= x / y # Division
result_fdiv= x // y # Floor Division
result_mod= x % y # Modulo</td>
result_puissance = x**y #puissance

In [ ]:
#afficher variable par format String
print(f"{chaine1}  {chaine2}")

Bonjour Mr  Bonjour Mm

In [ ]:
print("Bonjour Mr {} votre age est {}".format("aaaaaa", 12))

Bonjour Mr aaaaaa votre age est 12

In [ ]:
print("Bonjour Mr {a} votre age est {b}".format(a="aaaaaa", b=12))

Bonjour Mr aaaaaa votre age est 12

In [ ]:
a = "llllllllll"
b = 3
print("Bonjour Mr {} votre age est {}".format(a, b))

Bonjour Mr llllllllll votre age est 3

In [ ]:
print("i'm going to inject %s here " %"somthing")

i'm going to inject somthing here

In [ ]:
print("i'm going to inject %s text here and %s text here" %("some", "more"))

i'm going to inject some text here and more text here

In [ ]:
#transformer Majiscule
print(chaine1.upper(), ' ', chaine2.upper())

BONJOUR MR   BONJOUR MM

In [ ]:
#transformer minscule
print(chaine1.lower(), ' ', chaine2.lower())

bonjour mr   bonjour mm

In [ ]:
#chercher la position d'un element au chene
print(chaine3.find("Mr"))

8

In [ ]:
#remplacer une partie de chaine
print(chaine1.replace("Mr","Mm"), ' ', chaine2)

Bonjour Mm   Bonjour Mm

In [ ]:
#separer les cractere d'une chaine par un caractere specifier
print(' '.join(chaine1))

B o n j o u r   M r

In [ ]:
#convertir une chaine caractere en liste valeur de separation par default ' '
liste = chaine3.split()
print(liste)

['Bonjour', 'Mr', 'Bonjour', 'Mm']

In [ ]:
liste = chaine3.split(',')
print(liste)

['Bonjour Mr Bonjour Mm']

In [ ]:
#convertire une liste en chaine de caractere
res1 = "-".join(liste)
res2 = " ".join(liste)
print(res1)
print(res2)

Bonjour-Mr-Bonjour-Mm
Bonjour Mr Bonjour Mm

In [ ]:
#stoker une chaine de caractere caractere par caractere en une liste trie par alphabet
print(sorted(chaine3))

[' ', ' ', ' ', 'B', 'B', 'M', 'M', 'j', 'j', 'm', 'n', 'n', 'o', 'o', 'o', 'o', 'r', 'r', 'r', 'u', 'u']

In [ ]:
my_string="     Hello      "
print(my_string.strip()) #suprimer espaces avant et apret
print(my_string.lstrip()) #suprimer espaces avant
print(my_string.rstrip())#suprimer espaces apret

Hello
Hello
     Hello

In [ ]:
#longueure chaine de caractere
print(len(chaine3))

21

In [ ]:
#substring = string_name[start:end]
print("premiere caractere chaine :", chaine3[0])
print("derniere caractere chaine :", chaine3[-1])
print("derniere caractere chaine :", chaine3[len(chaine3)-1])
print("de 1eme caractere au 3eme caractere :", chaine3[1:4])
print("Toute la chaine :", chaine3[:])
print("de debut chaine au 5 eme caractere :", chaine3[:5])
print("de 11 eme caractere a la fin de chaine :", chaine3[12:])
print("de fin chaine et 5eme caractere au sens inverse :", chaine3[-5:-1])

premiere caractere chaine : B
derniere caractere chaine : m
derniere caractere chaine : m
de 1eme caractere au 3eme caractere : onj
Toute la chaine : Bonjour Mr Bonjour Mm
de debut chaine au 5 eme caractere : Bonjo
de 11 eme caractere a la fin de chaine : onjour Mm
de fin chaine et 5eme caractere au sens inverse : ur M

In [ ]:
ch1, ch2, ch3 = 'aaa', '555','28fm'
print(f"Valeur chaines caractere : ch1 = {ch1} ch2 = {ch2}, ch3 = {ch3}")
print(f"test sil est chaine lettre : ch1 = {ch1.isalpha()} ch2 = {ch2.isalpha()}, ch3 = {ch3.isalpha()}")
print(f"test sil est chaine numbers : ch1 = {ch1.isdigit()} ch2 = {ch2.isdigit()}, ch3 = {ch3.isdigit()}")
print(f"test sil est chaine numbers dicimal: ch1 = {ch1.isdecimal()} ch2 = {ch2.isdecimal()}, ch3 = {ch3.isdecimal()}")
print(f"test sil est chaine miniscule : ch1 = {ch1.islower()} ch2 = {ch2.islower()}, ch3 = {ch3.islower()}")
print(f"test sil est chaine Majiscule : ch1 = {ch1.isupper()} ch2 = {ch2.isupper()}, ch3 = {ch3.isupper()}")
print(f"test sil est chaine est des espaces : ch1 = {ch1.isspace()} ch2 = {ch2.isspace()}, ch3 = {ch3.isspace()}")

Valeur chaines caractere : ch1 = aaa ch2 = 555, ch3 = 28fm
test sil est chaine lettre : ch1 = True ch2 = False, ch3 = False
test sil est chaine numbers : ch1 = False ch2 = True, ch3 = False
test sil est chaine numbers dicimal: ch1 = False ch2 = True, ch3 = False
test sil est chaine miniscule : ch1 = True ch2 = False, ch3 = True
test sil est chaine Majiscule : ch1 = False ch2 = False, ch3 = False
test sil est chaine est des espaces : ch1 = False ch2 = False, ch3 = False

In [ ]:
for i in range(len(chaine1)) :
  print(i, ' ', chaine1[i])

0   B
1   o
2   n
3   j
4   o
5   u
6   r
7
8   M
9   r

In [ ]:
liste = chaine3.split()
resultat = list(map(list, liste))
resultat2 = [x.upper() for x in chaine3]
print(liste)
print(resultat)
print(resultat2)

['Bonjour', 'Mr', 'Bonjour', 'Mm']
[['B', 'o', 'n', 'j', 'o', 'u', 'r'], ['M', 'r'], ['B', 'o', 'n', 'j', 'o', 'u', 'r'], ['M', 'm']]
['B', 'O', 'N', 'J', 'O', 'U', 'R', ' ', 'M', 'R', ' ', 'B', 'O', 'N', 'J', 'O', 'U', 'R', ' ', 'M', 'M']

In [ ]:
double = lambda n : n*2
print(double(2))

4

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x*x, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [ ]:
str1 = 'GeeksforGeeks'

upper = lambda string: string.upper()
print(upper(str1))

GEEKSFORGEEKS

Une liste est un type de données intégré qui représente une collection ordonnée et modifiable d'éléments.

Les listes sont placées entre crochets [] et les éléments sont séparés par des virgules.

In [ ]:
#La méthode `append()` est utilisée pour ajouter un élément à la fin d'une liste.

In [ ]:
fruits = ["apple", "banana", "orange"]
fruits.append("mango")
print(fruits)

['apple', 'banana', 'orange', 'mango']

In [ ]:
#La méthode `insert()` est utilisée pour insérer un élément.

In [ ]:
#list_name.insert(index, element)
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 6)
print(my_list)

[1, 2, 6, 3, 4, 5]

In [ ]:
#La méthode `copy()` est utilisée pour créer une copie superficielle d'une liste.

In [ ]:
my_list = [1, 2, 3, 4, 5]
new_list = my_list.copy()
print(new_list)
# Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
#La méthode `count()` est utilisée pour compter le nombre d'occurrences d'un élément spécifique dans une liste en Python.

In [ ]:
my_list = [1, 2, 2, 3, 4, 2, 5, 2]
count = my_list.count(2)
print(count)
# Output: 4

4

L'instruction `del` est utilisée pour supprimer un élément de la liste.

L'instruction `del` supprime l'élément à l'index spécifié.

In [ ]:
my_list = [10, 20, 30, 40, 50]
del my_list[2] # Removes the element at index 2 print(my_list)
# Output: [10, 20, 40, 50]
print(my_list)

[10, 20, 40, 50]

La méthode `extend()` est utilisée pour ajouter plusieurs éléments à une liste.

Il prend un itérable (comme une autre liste, un tuple ou une chaîne) et ajoute chaque élément de l'itérable à la liste d'origine.

In [ ]:
fruits = ["apple", "banana", "orange"]
more_fruits = ["mango", "grape"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'orange', 'mango', 'grape']

L'indexation dans une liste vous permet d'accéder à des éléments individuels par leur position.

En Python, l'indexation commence à 0 pour le premier élément et monte jusqu'à « length_of_list - 1 ».

In [ ]:
my_list = [10, 20, 30, 40, 50]
print(my_list[0])
# Output: 10 (accessing the first element)
print(my_list[-1])
# Output: 50 (accessing the last element using negative indexing)

10
50

Vous pouvez utiliser l'indexation pour modifier ou attribuer de nouvelles valeurs à des éléments spécifiques de la liste.

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list[1] = 25 # Modifying the second element
print(my_list)
# Output: [10, 25, 30, 40, 50]

[10, 25, 30, 40, 50]

La méthode `pop()` est une autre façon de supprimer un élément d'une liste en Python.

Il supprime et renvoie l'élément à l'index spécifié.

Si vous ne fournissez pas d'index à la méthode `pop()`,

elle supprimera et renverra le dernier élément de la liste par défaut

In [ ]:
my_list = [10, 20, 30, 40, 50]
removed_element = my_list.pop(2) # Removes and returns the element at index 2
print(removed_element)
# Output: 30
print(my_list)
# Output: [10, 20, 40, 50]

30
[10, 20, 40, 50]

In [ ]:
my_list = [10, 20, 30, 40, 50]
removed_element = my_list.pop() # Removes and returns the last element
print(removed_element)
# Output: 50
print(my_list)
# Output: [10, 20, 30, 40]

50
[10, 20, 30, 40]

Pour supprimer un élément d'une liste.
La méthode `remove()` supprime la première occurrence de la valeur spécifiée.

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.remove(30) # Removes the element 30
print(my_list)
# Output: [10, 20, 40, 50]

[10, 20, 40, 50]

La méthode `reverse()` est utilisée pour inverser l'ordre des éléments dans une liste

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)
# Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

Vous pouvez utiliser le découpage pour accéder à une gamme d’éléments à partir d’une liste.

In [ ]:
#list_name[start:end:step]
my_list = [1, 2, 3, 4, 5]
print(my_list[1:4])
# Output: [2, 3, 4] (elements from index 1 to 3)
print(my_list[:3])
# Output: [1, 2, 3] (elements from the beginning up to index 2)
print(my_list[2:])
# Output: [3, 4, 5] (elements from index 2 to the end)
print(my_list[::2])
# Output: [1, 3, 5] (every second element)

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]
[1, 3, 5]

La méthode `sort()` est utilisée pour trier les éléments d'une liste par ordre croissant.

Si vous souhaitez trier la liste par ordre décroissant, vous pouvez passer l'argument `reverse=True` à la méthode `sort()`.

In [ ]:
my_list = [5, 2, 8, 1, 9]
my_list.sort()
print(my_list)
# Output: [1, 2, 5, 8, 9]

[1, 2, 5, 8, 9]

In [ ]:
my_list = [5, 2, 8, 1, 9]
my_list.sort(reverse=True)
print(my_list)
# Output: [9, 8, 5, 2, 1]

[9, 8, 5, 2, 1]

Un ensemble est une collection désordonnée d’éléments uniques.

Les ensembles sont entourés d'accolades `{}`.

Ils sont utiles pour stocker des valeurs distinctes et effectuer des opérations d’ensemble.

In [ ]:
empty_set = set() #Creating an Empty Set
fruits = {"apple", "banana", "orange"}
colors = {"red", "green", "black", "orange"}

Des éléments peuvent être ajoutés à un ensemble en utilisant la méthode `add()`.

Les doublons sont automatiquement supprimés, car les ensembles ne stockent que des valeurs uniques.

In [ ]:
print(fruits)
fruits.add("mango")
print(fruits)

{'apple', 'banana', 'orange'}
{'apple', 'mango', 'banana', 'orange'}

La méthode `clear()` supprime tous les éléments de l'ensemble,

ce qui donne un ensemble vide.

Il met à jour l'ensemble sur place.

In [ ]:
fruits.clear()
print(fruits)

set()

La méthode `copy()` crée une copie superficielle de l'ensemble.

Toute modification apportée à la copie n'affectera pas l'ensemble d'origine.

In [ ]:
new_fruits = fruits.copy()
print(new_fruits)

{'apple', 'banana', 'orange'}

Utilisez la méthode `discard()` pour supprimer un élément spécifique de l'ensemble.

Ignore si l'élément n'est pas trouvé.

In [ ]:
print(fruits)
fruits.discard("apple")
print(fruits)

{'apple', 'banana', 'orange'}
{'banana', 'orange'}

La méthode `issubset()` vérifie si l'ensemble actuel est un sous-ensemble d'un autre ensemble.

Il renvoie True si tous les éléments de l'ensemble actuel sont présents dans l'autre ensemble, sinon False.

In [ ]:
is_subset = fruits.issubset(new_fruits)
print(is_subset)

True

La méthode `issuperset()` vérifie si l'ensemble actuel est un sur-ensemble d'un autre ensemble.

Il renvoie True si tous les éléments de l'autre ensemble sont présents dans l'ensemble actuel, sinon False.

In [ ]:
is_superset = new_fruits.issuperset(fruits)
print(is_subset)

True

La méthode `pop()` supprime et renvoie un élément arbitraire de l'ensemble.

Il génère une `KeyError` si l'ensemble est vide.

Utilisez cette méthode pour supprimer des éléments lorsque l’ordre n’a pas d’importance.

In [ ]:
print(fruits)
removed_fruit = fruits.pop()
print(removed_fruit)
print(fruits)

{'banana', 'orange'}
banana
{'orange'}

Utilisez la méthode `remove()` pour supprimer un élément spécifique de l'ensemble.

Lève une `KeyError` si l'élément n'est pas trouvé.

In [ ]:
fruits.remove("banana")
print(fruits)

{'apple', 'orange'}

Effectuer diverses opérations sur les ensembles :

`union`, `intersection`, `différence`, `différence symétrique`.

In [ ]:
combined = fruits.union(colors)
common = fruits.intersection(colors)
unique_to_fruits = fruits.difference(colors)
sym_diff = fruits.symmetric_difference(colors)
print(combined)
print(common)
print(unique_to_fruits)
print(sym_diff)

{'apple', 'green', 'red', 'banana', 'black', 'orange'}
{'orange'}
{'apple', 'banana'}
{'banana', 'apple', 'green', 'red', 'black'}

La méthode `update()` ajoute des éléments d'un autre itérable dans l'ensemble.

Il préserve le caractère unique des éléments.

In [ ]:
fruits.update(["kiwi", "grape"])
print(fruits)

{'banana', 'grape', 'kiwi', 'apple', 'orange'}

In [ ]:
{'a','b'} & {'a'}

{'a'}

In [ ]:
{'a','b'} | {'a'}

{'a', 'b'}

Un dictionnaire est un type de données intégré qui représente une collection de paires clé-valeur.

Les dictionnaires sont placés entre accolades `{}`.

In [ ]:
dict_name = {} #Creates an empty dictionary
person = { "name": "John", "age": 30, "city": "New York", "Country": "new gercy"}
garde = {"garde 1" : 10, "garde 2" : 20, "garde 3" : 30}

In [ ]:
print(person.get("name"))

John

Vous pouvez accéder aux valeurs d'un dictionnaire en utilisant leurs « clés » correspondantes.

In [ ]:
name = person["name"]
age = person["age"]

Insère une nouvelle paire clé-valeur dans le dictionnaire.

Si la clé existe déjà, la valeur sera mise à jour ; sinon, une nouvelle entrée est créée.

In [ ]:
person["Country"] = "USA" # A new entry will be created.
person["city"] = "Chicago" # Update the existing value for the same key

La méthode `clear()` vide le dictionnaire,

en supprimant toutes les paires clé-valeur qu'il contient.

Après cette opération, le dictionnaire est toujours accessible et peut être utilisé ultérieurement.

In [ ]:
print(garde)
garde.clear()
print(garde)

{'garde 1': 10, 'garde 2': 20, 'garde 3': 30}
{}

Crée une copie superficielle du dictionnaire.

Le nouveau dictionnaire contient les mêmes paires clé-valeur que l'original,

mais elles restent des objets distincts en mémoire.

In [ ]:
new_person = person.copy()
new_person = dict(person) # another way to create a copy of dictionary
print(new_person)

{'name': 'John', 'age': 30, 'city': 'New York'}

Supprime la paire clé-valeur spécifiée du dictionnaire.

Lève une `KeyError` si la clé n'existe pas.

In [ ]:
#del dict_name[key]
print(person)
del person["Country"]
print(person)

{'name': 'John', 'age': 30, 'city': 'New York', 'Country': 'new gercy'}
{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
for i in person.items():
  print(i)
for i in person.keys():
  print(i)
for i in person.values():
  print(i)

('name', 'John')
('age', 30)
('city', 'New York')
('Country', 'new gercy')
name
age
city
Country
John
30
New York
new gercy

Récupère toutes les clés du dictionnaire et les convertit en liste.

Utile pour itérer ou traiter des clés à l’aide de méthodes de liste.

In [ ]:
person_keys = list(person.keys())
print(person_keys)

['name', 'age', 'city', 'Country']

In [ ]:
person_values = list(person.values())
print(person_values)

['John', 30, 'New York', 'new gercy']

La méthode `update()` fusionne le dictionnaire fourni dans le dictionnaire existant,

en ajoutant ou en mettant à jour les paires clé-valeur.

In [ ]:
person.update({"Profession": "Doctor"})
print(person)

{'name': 'John', 'age': 30, 'city': 'New York', 'Country': 'new gercy', 'Profession': 'Doctor'}